<div class="container-fluid">

    <!-- Page Heading -->
     <div class="p-2 d-flex justify-content-between">

         <h1 class="h3 mb-2 text-gray-800">5Rs Namkeen</h1>
    
         <button class="btn btn-outline-success"><a class="outline-none" href="/products/new">Add New Product </a>  </button>
     </div>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
 
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td><button class="btn btn-outline-primary">Edit</button>   <button class="btn btn-outline-danger">Del</button></td>
                            
                        </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>