
<%- include('partials/header') %>


    <section class="m-8 max-w-5xl mx-auto py-12 px-4 sm:px-6 lg:px-8  rounded-lg shadow-xl border-4 border-[#A07A43]">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-extrabold text-gray-900">About Us</h1>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-xl">
            <p class="text-lg text-gray-700 mb-4">
                A lot has changed about us in over 30 years of running business from a small start to becoming a household name in the snack industry. Fabcon Agro Pvt. Ltd., the proud parent company of <strong>Pradhan Snacks</strong>, was established in 1989 by Mr. Sanjay Kumar Gupta and Mr. Rajeev Kumar Gupta. Since then, we have been committed to creating high-quality snacks that cater to diverse palates, bringing smiles and joy to millions of customers.
            </p>

            <p class="text-lg text-gray-700 mb-4">
                We have gained customers’ trust through our dedication to quality, launching innovative product lines, expanding into new markets, and staying true to the authentic taste of India. Our product range includes an array of delicious <strong>namkeens</strong>, crispy puffs, crunchy fryums, and flavorful chips, each crafted with the finest ingredients to ensure exceptional taste and quality.
            </p>

            <p class="text-lg text-gray-700 mb-4">
                With a commitment to growth and excellence, we constantly evolve to meet the ever-changing preferences of snack lovers. We aim to become a global leader in the snack industry, known for not just the products we create but also for our unwavering commitment to quality and customer satisfaction.
            </p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Our Mission</h2>
            <p class="text-lg text-gray-700 mb-6">
                Our mission is to deliver delicious and innovative snack products that bring happiness to our customers. We believe that snacking is more than just a habit; it's a delightful experience. At <strong>Fabcon Agro Pvt. Ltd.</strong>, we are dedicated to maintaining the highest quality standards in every product we create.
            </p>

            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Our Vision</h2>
            <p class="text-lg text-gray-700">
                Looking ahead, our vision is to see <strong>Pradhan Snacks</strong> as a leading name in the snack industry, recognized for our exceptional products and customer service. We aspire to bring people together through our snacks, creating moments of joy and connection with every bite. Our commitment remains strong as we continue to grow, innovate, and deliver the best snacking experience worldwide.
            </p>
        </div>
    </section>


    <%- include('partials/footer') %>
