<%- include('partials/header') %>

    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold text-center mb-6">Contact Us</h1>
        <div class="flex flex-col md:flex-row justify-between bg-white rounded-lg shadow-lg p-6">
            <!-- Contact Information -->
            <div class="md:w-1/2 mb-4 mx-2 p-2 md:mb-0 border rounded-lg  border-[#CA9650]">
                <h2 class="text-xl font-semibold mb-2">Pradhan Namkeen Pvt. Ltd.</h2>
                <p class="mb-2">
                    <span class="font-bold">Address:</span><br>
                    B-15, 16 Ayshba Industrial Area, <br>
                    Lucknow, Uttar Pradesh 365200
                </p>
                <p class="mb-2">
                    <span class="font-bold">Email:</span><br>
                    <a href="mailto:sales@maheshnamkeen.in" class="text-blue-500">sales@.in</a><br>
                    <a href="mailto:general@maheshnamkeen.in" class="text-blue-500">general@.in</a>
                </p>
                <p class="mb-2">
                    <span class="font-bold">Phone:</span><br>
                    1234567, 123456,<br>
                    Toll Free – 1800 121 6952
                </p>
            </div>
            <!-- Map Section -->
            <div class="md:w-1/2 border rounded-lg border-[#CA9650]">
                <iframe class="w-full h-64 rounded-lg shadow-lg" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3303.1588237891784!2d80.3438!3d26.4473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c5e2d7e1e7ef5%3A0x7c88d6b1d27af2b5!2sKanpur%2C%20Kanpur%2C%20Uttar%20Pradesh%20208004!5e0!3m2!1sen!2sin!4v1629196992210" 
                        allowfullscreen="" loading="lazy">
                </iframe>
            </div>
            
        </div>
    </div>

    <%- include('partials/footer') %>
