<div class="top-bar-menu bg-[#EC3539] py-2">
    <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center">
      <!-- Left Menu -->
      <div class="left-menu w-full sm:w-auto text-center sm:text-left">
        <ul id="menu-for-her" class="menu flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4">
          <li id="menu-item-1408" class="menu-item">
            <i class="fa fa-phone"></i>   
            <a href="tel:9415047116" class="text-[#000000] hover:text-[#FFFFFF]">9415047116</a>
          </li>
          <li id="menu-item-3747" class="menu-item">
            <a href="tel:9838549672 " class="text-[#000000] hover:text-[#FFFFFF]">9838549672 </a>
          </li>
          <!-- <li id="menu-item-3749" class="menu-item">
            <a href="tel:18001211983" class="text-[#000000] hover:text-[#FFFFFF]">Toll Free – 1800 121 1983</a>
          </li> -->
          
        </ul>
      </div>
  
      <!-- Right Menu (Empty for now) -->
      <div class="right-menu w-full sm:w-auto text-center sm:text-right mt-2 sm:mt-0">
        <!-- You can add any content here if needed in the future -->
      </div>
    </div>
  </div>
  