<form action="/forgot-password" method="POST">
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
    </div>
    <button type="submit">Send Reset Link</button>
</form>

<% if (success.length > 0) { %>
  <div class="alert alert-success">
      <%= success.join('<br>') %>
  </div>
<% } %>
<% if (error.length > 0) { %>
  <div class="alert alert-danger">
      <%= error.join('<br>') %>
  </div>
<% } %>
