
<form action="/reset-password/<%= token %>" method="POST">
    <div>
      <label for="password">New Password:</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div>
        <label for="confirm">Confirm Password:</label>
      <input type="password" name="confirm" id="confirm" required>
    </div>
    <button type="submit">Reset Password</button>
</form>


<% if (success.length > 0) { %>
  <div class="alert alert-success">
      <%= success.join('<br>') %>
  </div>
<% } %>
<% if (error.length > 0) { %>
  <div class="alert alert-danger">
      <%= error.join('<br>') %>
  </div>
<% } %>
