</main>
<footer>
    <div class="bg-red-500 p-4">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                <!-- Quick Links -->
                <div class="col">
                    <h2 class="text-lg font-bold mb-4">Quick Links</h2>
                    <ul class="space-y-2">
                        <li><a href="https://maheshnamkeen.com/" class="text-gray-300 hover:text-white">Home</a></li>
                        <li><a href="https://maheshnamkeen.com/career/" class="text-gray-300 hover:text-white">Career</a></li>
                        <li><a href="https://maheshnamkeen.com/feedback-2/" class="text-gray-300 hover:text-white">Feedback</a></li>
                        <li><a href="https://maheshnamkeen.com/media-center/" class="text-gray-300 hover:text-white">Media Center</a></li>
                        <li><a href="https://maheshnamkeen.com/channel-partner-2/" class="text-gray-300 hover:text-white">Channel Partner</a></li>
                        <li><a href="https://maheshnamkeen.com/query/" class="text-gray-300 hover:text-white">Query For Distributor / Super Stockist</a></li>
                        <li><a href="https://maheshnamkeen.com/shipping-policy/" class="text-gray-300 hover:text-white">Shipping Policy</a></li>
                        <li><a href="https://maheshnamkeen.com/refund-policy/" class="text-gray-300 hover:text-white">Refund Policy</a></li>
                        <li><a href="https://maheshnamkeen.com/terms-conditions/" class="text-gray-300 hover:text-white">Terms & Conditions</a></li>
                        <li><a href="https://maheshnamkeen.com/privacy-policy-2/" class="text-gray-300 hover:text-white">Privacy Policy</a></li>
                        <li><a href="https://maheshnamkeen.com/contact-us/" class="text-gray-300 hover:text-white">Contact Us</a></li>
                    </ul>
                </div>
    
                <!-- Social Links -->
                <div class="col">
                    <h3 class="text-lg font-bold mb-4">Social Links</h3>
                    <div class="flex space-x-4">
                        <a href="https://x.com" class="text-black hover:text-gray-400" title="X">
                            <span class="social-icon socicon socicon-x"></span>
                        </a>
                        <a href="https://www.facebook.com/MaheshNamkeenPvtLtd/" class="text-blue-600 hover:text-blue-400" title="Facebook">
                            <span class="social-icon socicon socicon-facebook"></span>
                        </a>
                        <a href="https://www.instagram.com/mahesh.namkeen/" class="text-pink-600 hover:text-pink-400" title="Instagram">
                            <span class="social-icon socicon socicon-instagram"></span>
                        </a>
                    </div>
                </div>
    
                <!-- Visitors Count -->
                <div class="col">
                    <h3 class="text-lg font-bold mb-4">Visitors Count</h3>
                    <div>
                        <a href="https://www.hitwebcounter.com" target="_blank">
                            <img decoding="async" src="https://hitwebcounter.com/counter/counter.php?page=8006856&amp;style=0006&amp;nbdigits=7&amp;type=ip&amp;initCount=7586" title="Free Counter" alt="web counter" border="0">
                        </a>
                    </div>
                </div>
    
                <!-- Address -->
                <div class="col">
                    <h3 class="text-lg font-bold mb-4">Address</h3>
                    <p><strong>Mahesh Namkeen Pvt. Ltd.</strong></p>
                    <p><i class="fa fa-home"></i> B-15,16 Amausi Industrial Area, Nadarganj, Lucknow, Uttar Pradesh 226008</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:sales@maheshnamkeen.in" class="text-gray-300 hover:text-white">sales@maheshnamkeen.in</a>, <a href="mailto:general@maheshnamkeen.in" class="text-gray-300 hover:text-white">general@maheshnamkeen.in</a></p>
                    <p><i class="fa fa-phone"></i> <a href="tel:9580590590" class="text-gray-300 hover:text-white">9580590590</a>, <a href="tel:7311124002" class="text-gray-300 hover:text-white">7311124002</a>, Toll Free - <a href="tel:18001211983" class="text-gray-300 hover:text-white">1800 121 1983</a></p>
                </div>
            </div>
            
            <!-- Footer Bottom -->
            <div class="mt-8 text-center">
                <div class="site-info">
                    <span class="copy-right"> <a href="#" class="text-gray-300 hover:text-white">Powered By BNCETian (IT Department)</a> </span>
                </div>
            </div>
        </div>
    </div>
</footer>


  <!-- Slider JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Slider -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      loop: true, // Enable looping
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    


    

    var swiper = new Swiper(".custom-swiper", {
  slidesPerView: 1, // Set to 1 for mobile
  // centeredSlides: true,
  spaceBetween: 30,
  navigation: {
    nextEl: ".custom-swiper-button-next",
    prevEl: ".custom-swiper-button-prev",
  },
    


  breakpoints: {
    // when window width is >= 640px
    640: {
      slidesPerView: 2,
      spaceBetween: 20,
    },
    // when window width is >= 768px
    768: {
      slidesPerView: 3,
      spaceBetween: 30,
    },
  },
});






    
  </script>


  
  
</body>
</html>
