<head>
  <style>
    .custom-swiper {
      width: 100%;
      height: 100%;
    }

    .custom-swiper-slide {
      width: 324px !important;
      height: 100% !important;
    }

    .custom-swiper-slide img {
      object-fit: cover;
    }

    .custom-swiper {
      height: 300px;
      margin: 20px auto;
    }
  </style>
</head>

<body>
  <!-- Swiper -->
  <div class="swiper custom-swiper px-2">
    <div class="swiper-wrapper">
      <% namkeenData.forEach(function(item) { %>
        <div class="swiper-slide custom-swiper-slide">
          <div class="border-2 border-[#CA9650] rounded-lg flex flex-col items-center h-full w-full">
            <div class="px-2 py-4 flex items-center h-[200px] w-[220px]">
              <img class="h-full w-full object-cover transition-transform duration-300 hover:scale-110" src="<%= item.image %>" alt="<%= item.title %>">
            </div>
            <div>
              <!-- Product Info -->
              <div class="product-info text-center">
                <h2 class="woocommerce-loop-product__title text-lg font-semibold text-gray-800 mb-2">
                  <%= item.title %>
                </h2>
                <span class="price block text-gray-700">
                  <span class="mrp-price font-medium">
                    MRP: <span class="woocommerce-Price-amount amount text-green-600">
                      <bdi><span class="woocommerce-Price-currencySymbol">₹</span><%= item.price %></bdi>
                    </span>
                  </span>
                </span>
                <p class="inclusive-taxes text-xs text-gray-500">(Inclusive of All Taxes)</p>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>

    <div class="text-[#CA9650] swiper-button-next custom-swiper-button-next"></div>
    <div class="text-[#CA9650] swiper-button-prev custom-swiper-button-prev"></div>
    <div class="text-[#CA9650] swiper-pagination custom-swiper-pagination"></div>
  </div>

  <!-- View More button -->
  <p class="pl-4 pb-2 text-center">
    <a href="/fivers-namkeen" class="view-more bg-[#CA9650] text-white py-2 px-4 rounded hover:bg-[#a07a43] transition duration-300">View More</a>
  </p>


</body>
