
  <style>

    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide  {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 350px !important;

      background: none !important;
      outline:none !important;
      border: none !important;
      box-shadow: none !important;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
  </style>


    <!-- Swiper -->
    <div class="swiper fiveRsSwiper">
      <div class="swiper-wrapper">
  
        <div class=" swiper-slide group flex flex-col items-center p-4 border border-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105 hover:shadow-xl bg-transparent">
            <!-- Product Image -->
            <div class="h-56 mb-4">
              <a href="https://maheshnamkeen.com/rs-5/cream-onion-chips/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                <img loading="lazy" decoding="async"
                  src="../../images/Sancks.png"
                  class="w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 object-cover mx-auto transition-transform transform group-hover:scale-110" 
                  alt="American Style Sour Cream & Onion">
              </a>
            </div>
          
            <!-- Product Info -->
            <div class="product-info text-center">
              <h2 class="woocommerce-loop-product__title text-lg font-semibold text-gray-800 mb-2">
                Cream Onion Chips (20g)
              </h2>
              <span class="price block text-gray-700">
                <span class="mrp-price font-medium">
                  MRP: <span class="woocommerce-Price-amount amount text-green-600">
                  <bdi><span class="woocommerce-Price-currencySymbol">₹</span>5.00</bdi>
                  </span>
                </span>
              </span>
              <p class="inclusive-taxes text-xs text-gray-500">(Inclusive of All Taxes)</p>
            </div>
          </div>


          
        
        


          <div class=" swiper-slide group flex flex-col items-center p-4 border border-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105 hover:shadow-xl bg-transparent">
            <!-- Product Image -->
            <div class="h-56 mb-4">
              <a href="https://maheshnamkeen.com/rs-5/cream-onion-chips/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                <img loading="lazy" decoding="async"
                  src="https://maheshnamkeen.com/wp-content/uploads/2023/05/cream-onion-f-300x300.png"
                  class="w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 object-cover mx-auto transition-transform transform group-hover:scale-110" 
                  alt="American Style Sour Cream & Onion">
              </a>
            </div>
          
            <!-- Product Info -->
            <div class="product-info text-center">
              <h2 class="woocommerce-loop-product__title text-lg font-semibold text-gray-800 mb-2">
                Cream Onion Chips (20g)
              </h2>
              <span class="price block text-gray-700">
                <span class="mrp-price font-medium">
                  MRP: <span class="woocommerce-Price-amount amount text-green-600">
                  <bdi><span class="woocommerce-Price-currencySymbol">₹</span>5.00</bdi>
                  </span>
                </span>
              </span>
              <p class="inclusive-taxes text-xs text-gray-500">(Inclusive of All Taxes)</p>
            </div>
          </div>




          <div class=" swiper-slide group flex flex-col items-center p-4 border border-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105 hover:shadow-xl bg-transparent">
            <!-- Product Image -->
            <div class="h-56 mb-4">
              <a href="https://maheshnamkeen.com/rs-5/cream-onion-chips/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                <img loading="lazy" decoding="async"
                  src="https://maheshnamkeen.com/wp-content/uploads/2023/05/cream-onion-f-300x300.png"
                  class="w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 object-cover mx-auto transition-transform transform group-hover:scale-110" 
                  alt="American Style Sour Cream & Onion">
              </a>
            </div>
          
            <!-- Product Info -->
            <div class="product-info text-center">
              <h2 class="woocommerce-loop-product__title text-lg font-semibold text-gray-800 mb-2">
                Cream Onion Chips (20g)
              </h2>
              <span class="price block text-gray-700">
                <span class="mrp-price font-medium">
                  MRP: <span class="woocommerce-Price-amount amount text-green-600">
                  <bdi><span class="woocommerce-Price-currencySymbol">₹</span>5.00</bdi>
                  </span>
                </span>
              </span>
              <p class="inclusive-taxes text-xs text-gray-500">(Inclusive of All Taxes)</p>
            </div>
          </div>




          <div class=" swiper-slide group flex flex-col items-center p-4 border border-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105 hover:shadow-xl bg-transparent">
            <!-- Product Image -->
            <div class="h-56 mb-4">
              <a href="https://maheshnamkeen.com/rs-5/cream-onion-chips/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                <img loading="lazy" decoding="async"
                  src="https://maheshnamkeen.com/wp-content/uploads/2023/05/cream-onion-f-300x300.png"
                  class="w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 object-cover mx-auto transition-transform transform group-hover:scale-110" 
                  alt="American Style Sour Cream & Onion">
              </a>
            </div>
          
            <!-- Product Info -->
            <div class="product-info text-center">
              <h2 class="woocommerce-loop-product__title text-lg font-semibold text-gray-800 mb-2">
                Cream Onion Chips (20g)
              </h2>
              <span class="price block text-gray-700">
                <span class="mrp-price font-medium">
                  MRP: <span class="woocommerce-Price-amount amount text-green-600">
                  <bdi><span class="woocommerce-Price-currencySymbol">₹</span>5.00</bdi>
                  </span>
                </span>
              </span>
              <p class="inclusive-taxes text-xs text-gray-500">(Inclusive of All Taxes)</p>
            </div>
          </div>




          <div class=" swiper-slide group flex flex-col items-center p-4 border border-gray-200 rounded-lg shadow-md transition-transform transform hover:scale-105 hover:shadow-xl bg-transparent">
            <!-- Product Image -->
            <div class="h-56 mb-4">
              <a href="https://maheshnamkeen.com/rs-5/cream-onion-chips/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                <img loading="lazy" decoding="async"
                  src="https://maheshnamkeen.com/wp-content/uploads/2023/05/cream-onion-f-300x300.png"
                  class="w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 object-cover mx-auto transition-transform transform group-hover:scale-110" 
                  alt="American Style Sour Cream & Onion">
              </a>
            </div>
          
            <!-- Product Info -->
            <div class="product-info text-center">
              <h2 class="woocommerce-loop-product__title text-lg font-semibold text-gray-800 mb-2">
                Cream Onion Chips (20g)
              </h2>
              <span class="price block text-gray-700">
                <span class="mrp-price font-medium">
                  MRP: <span class="woocommerce-Price-amount amount text-green-600">
                  <bdi><span class="woocommerce-Price-currencySymbol">₹</span>5.00</bdi>
                  </span>
                </span>
              </span>
              <p class="inclusive-taxes text-xs text-gray-500">(Inclusive of All Taxes)</p>
            </div>
          </div>




    </div>
    <!-- <div class="swiper-pagination"></div> -->
  </div>




  <!-- Swiper JS -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->

 
