  <!-- Partition icon -->
  <div class="flex items-center justify-center py-2">
    <div class="text-center">
      <div class="flex items-center">
        <div class="flex-1 border-t-2 border-[#E64141] mr-2 w-24 sm:w-32 md:w-48"></div> <!-- Left line -->
        <div class="text-black text-xl sm:text-2xl md:text-3xl">
          <i aria-hidden="true" class="fas fa-store"></i>
        </div>
        <div class="flex-1 border-t-2 border-[#E64141] ml-2 w-24 sm:w-32 md:w-48"></div> <!-- Right line -->
      </div>
    </div>
  </div>