<div class="flex justify-center pt-4 pb-2">
    <img 
        src="https://maheshnamkeen.com/wp-content/uploads/2022/07/bmh.jpg" 
        alt="bmh" 
        class="w-11/12 max-w-screen-xl h-auto rounded-2xl"
    >
</div>
